.regist {
    /* background-image: url("../../../../assets/img/theme/register.jpg"); */
    width: 100%;
    height: 100%;
    max-height: 1000px;
  }
  
  .regist2 {
    background-color: #00000055;
  }
  
  .mat-form-field-ripple {
    color: white;
  }
  
  .mat-form-field-appearance-fill {
    color: white;
  }
  
  .mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(1, 174, 204) !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(1, 174, 204) !important;
  }
  
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(1, 174, 204) !important;
  }
  
  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(1, 174, 204) !important;
  }
  
  .label {
    color: white;
  }