<div
  mdbModal
  #complaint="mdbModal"
  class="modal fade left"
  style="overflow-y: auto"
  id="complaintModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Complaint</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="complaint.hide()"
        >
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-2">
          <label for="reId">Id</label>
          <input
            type="text"
            id="cId"
            class="form-control"
            [(ngModel)]="request.id"
            [disabled]="true"
            mdbInput
          />
          <label for="custom">Customer</label>
          <input
            type="text"
            id="custom"
            class="form-control"
            [ngModel]="getCustomer(request)"
            [disabled]="true"
            mdbInput
          />
          <label for="owne">Owner</label>
          <input
            type="text"
            id="owne"
            class="form-control"
            [ngModel]="getOwner(request)"
            [disabled]="true"
            mdbInput
          />
          <label for="explanation">Comment</label>
          <textarea
            type="text"
            id="explanation"
            class="form-control"
            [(ngModel)]="request.text"
            [disabled]="true"
            mdbInput
          ></textarea>
        </div>
        <div class="md-form mb-2">
          <label for="answer">Answer to owner</label>
          <textarea
            type="text"
            id="answer"
            class="form-control"
            [(ngModel)]="request.answerOwner"
            mdbInput
          ></textarea>
        </div>
        <div class="md-form mb-2">
          <label for="answer">Answer to customer</label>
          <textarea
            type="text"
            id="answer"
            class="form-control"
            [(ngModel)]="request.answerCustomer"
            mdbInput
          ></textarea>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="answer()"
          mdbBtn
          color="default"
          class="waves-light"
          mdbWavesEffect
          data-dismiss="modal"
        >
          Answer
        </button>
      </div>
    </div>
  </div>
</div>
