<div
  class="header bg-gradient-info pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask"></span>
  <!-- Header container -->
  <div class="container d-flex align-items-center">
    <div class="row w-100 align-items-center">
      <div class="col-2">
        <h1 class="display-3 text-white">{{ fishingCourse.name }}</h1>
        <p class="text-white mt-0 mb-5">{{ fishingCourse.promoDescription }}</p>
      </div>
      <div class="col-10">
        <ng-image-slider
          [slideImage]="3"
          [images]="imageObject"
          #nav
        ></ng-image-slider>
      </div>
    </div>
  </div>
</div>
<div class="container mt--7 pb-4">
  <div class="row">
    <div class="col-xl-8 order-xl-1 mb-4">
      <app-fishing-course-edit [fishingCourse]="fishingCourse"></app-fishing-course-edit>
    </div>
    <div class="col-xl-4 order-xl-2 container">
      <div class="order-xl-3 mb-5 mb-xl-0">
        <!-- <app-fishingCourse-available-terms
          [fishingCourse]="fishingCourse"
          [minDate]="minDateString"
        ></app-fishingCourse-available-terms> -->
      </div>
      <div class="order-xl-2 mt-3">
        <h6 class="heading-small text-muted mb-4">
          Upload a fishingCourse picture
        </h6>
        <div
          fxFill
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="gappx"
        >
          <ngp-image-picker
            [_config]="imagePickerConf"
            ($imageChanged)="onImageChange($event)"
            [_imageSrc]="fishingImage.image"
          ></ngp-image-picker>
          <div>
            <button
              style="margin-top: 15px"
              (click)="addFishingCourseImage()"
              class="btn btn-info"
            >
              Add image
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Quick Reservations">
      <!-- TABELA -->
      <!-- <app-fishingCourse-quick-reservations
        [fishingCourse]="fishingCourse"
        [imageObject]="imageObject"
      >
      </app-fishingCourse-quick-reservations>
      <app-add-fishingCourse-quick-reservation
        (submitted)="quickReservationAdded()"
        [fishingCourseQuickReservation]="fishingCourseQuickReservation"
      >
      </app-add-fishingCourse-quick-reservation> -->
    </mat-tab>
    <mat-tab label="Reservations">
      <!-- TABELA -->
      <!-- <app-fishingCourse-reservations
        [reservations]="activeReservations"
        [customers]="eligibleCustomers"
        (customerEmit)="
          reservationInput.setCustomer($event); focusReservation()
        "
      ></app-fishingCourse-reservations>
      <app-add-reservation
        #reservationInput
        (submitted)="reservationAdded()"
        [minDate]="minDateString"
      ></app-add-reservation> -->
    </mat-tab>
    <mat-tab label="Reservations history">
      <!-- <app-fishingCourse-reservations
        [reservations]="passedReservations"
        [customers]="eligibleCustomers"
      ></app-fishingCourse-reservations> -->
    </mat-tab>
  </mat-tab-group>
</div>
