<div class="col-md-12 mb-1 cottageCard">
  <div class="card h-100" *ngIf="cottageReservation.cottage">
    <div class="d-flex justify-content-between position-absolute w-100"></div>
    <div class="img-hover-zoom img-hover-zoom--xyz">
      <img
        src="https://picsum.photos/700/550"
        class="card-img-top"
        alt="Product"
      />
      <div class="cardOverlay" *ngIf="cottageReservation.cottage.name">
        Pogledaj <br />
        {{ cottageReservation.cottage.name }} <br />
        ponudu
      </div>
    </div>
    <div class="card-body px-2 pb-2 pt-1">
      <div class="d-flex justify-content-between">
        <div *ngIf="cottageReservation.cottage.name">
          <p class="h4">{{ cottageReservation.cottage.name }}</p>
        </div>
        <div>
          <a
            href="#"
            class="text-secondary lead"
            data-toggle="tooltip"
            data-placement="left"
            title="Compare"
          >
            <app-grade-star
              *ngIf="cottageReservation.cottage.averageGrade"
              [grade]="cottageReservation.cottage.averageGrade"
            ></app-grade-star>
          </a>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-7 text-dark">
          Grad :<strong *ngIf="cottageReservation.cottage.address">{{
            "   " + cottageReservation.cottage.address.city
          }}</strong>
        </div>
        <div
          *ngIf="openForReservation !== 'yes' && type !== 4"
          class="col-5 text-dark text-left"
        >
          <strong>Price: </strong>{{ "  " + cottageReservation.price + " $" }}
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          Ulica :
          <strong *ngIf="cottageReservation.cottage.address">
            {{ "   " + cottageReservation.cottage.address.street }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          Drzava :<strong *ngIf="cottageReservation.cottage.address">
            {{ "   " + cottageReservation.cottage.address.country }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          <span>Description</span>
          <strong
            class="text-center"
            *ngIf="cottageReservation.cottage.promoDescription"
          >
            {{ ": " + cottageReservation.cottage.promoDescription }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          <span>Start date:</span>
          <strong
            class="text-center"
            *ngIf="cottageReservation.duration.startDate"
          >
            {{ ": " + cottageReservation.duration.startDate }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          <span>End date:</span>
          <strong
            class="text-center"
            *ngIf="cottageReservation.duration.endDate"
          >
            {{ ": " + cottageReservation.duration.endDate }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-12 reserv-btn">
          <button
            *appHasRole="['ROLE_CUSTOMER']"
            class="btn btn-success reservationbtn"
            (click)="open(content)"
          >
            Review
          </button>
        </div>
      </div>
      <div class="row d-flex pt-2 mb-2">
        <div class="col-12 reserv-btn">
          <button
            *appHasRole="['ROLE_CUSTOMER']"
            class="btn btn-success reservationbtn"
            (click)="openComplaint(content2)"
          >
            Complaint
          </button>
        </div>
      </div>
    </div>
    <div class="reserv-btn" *ngIf="openForReservation === 'yes'"></div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title review">
      Review cottage reservation
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <mat-form-field class="example-full-width rev" appearance="fill">
          <mat-label>Text of your review</mat-label>
          <textarea
            matInput
            [(ngModel)]="review"
            name="complaint"
            placeholder="Enter complaint"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width rev" appearance="fill">
          <mat-label>Cottage owner grade</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="5"
            [(ngModel)]="gradeOwner"
            name="gradeOwner"
            placeholder="Enter complaint"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width rev" appearance="fill">
          <mat-label>Cottage grade</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="5"
            [(ngModel)]="gradeEntity"
            name="gradeEntitite"
            placeholder="Enter cottage grade"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="sendReview()">
      Send review
    </button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title complaint">
      Complaint cottage reservation
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <mat-form-field class="example-full-width rev" appearance="fill">
          <mat-label>Text of your complaint</mat-label>
          <textarea
            matInput
            [(ngModel)]="complaint"
            name="complaint"
            placeholder="Enter complaint"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="sendComplaint()"
    >
      Send complaint
    </button>
  </div>
</ng-template>
