<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/image233.png);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask"></span>
  <!-- Header container -->
  <div class="container d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{ cottage.name }}</h1>
        <p class="text-white mt-0 mb-5">{{ cottage.promoDescription }}</p>
      </div>
    </div>
    <div class="container">
      <ng-image-slider
        [slideImage]="3"
        [images]="imageObject"
        #nav
      ></ng-image-slider>
    </div>
  </div>
</div>
<div class="container mt--7 pb-4" >
  <div class="row">
    <div class="col-xl-8 order-xl-1 mb-4">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Cottage information</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <!-- Ovde -->
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username"
                      >Name</label
                    >
                    <input
                      type="text"
                      id="input-name"
                      name="name"
                      class="form-control form-control-alternative"
                      [(ngModel)]="cottage.name"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-description"
                      >Description</label
                    >
                    <textarea
                      class="form-control form-control-alternative"
                      id="input-description"
                      name="description"
                      >{{ cottage.promoDescription }}</textarea
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-rooms"
                      >Number of rooms</label
                    >
                    <input
                      type="number"
                      name="roomCount"
                      id="input-rooms"
                      class="form-control form-control-alternative"
                      [(ngModel)]="cottage.roomCount"
                      min="1"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-beds"
                      >Number of beds</label
                    >
                    <input
                      type="number"
                      name="bedCount"
                      id="input-beds"
                      class="form-control form-control-alternative"
                      [(ngModel)]="cottage.bedCount"
                      min="1"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-price"
                      >Price per day</label
                    >
                    <input
                      type="number"
                      id="input-price"
                      class="form-control form-control-alternative"
                      value="20"
                      min="1"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-rules"
                      >Rules of conduct</label
                    >
                    <textarea
                      class="form-control form-control-alternative"
                      id="input-rules"
                      name="rules"
                      >{{ cottage.cottageRules }}</textarea
                    >
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Location</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address"
                      >Address</label
                    >
                    <input
                      [(ngModel)]="cottage.address.street"
                      name="street"
                      id="input-address"
                      class="form-control form-control-alternative"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city"
                      >City</label
                    >
                    <input
                      [(ngModel)]="cottage.address.city"
                      name="city"
                      type="text"
                      id="input-city"
                      class="form-control form-control-alternative"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country"
                      >Country</label
                    >
                    <input
                      [(ngModel)]="cottage.address.country"
                      name="country"
                      type="text"
                      id="input-country"
                      class="form-control form-control-alternative"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Additional services</h6>
            <div class="pl-lg-4">
              <tag-input
                name="tags"
                (onAdd)="onItemAdded($event)"
                [(ngModel)]="additionalServiceTags"
                [modelAsStrings]="true"
                #input
              >
                <ng-template let-item="item" let-index="index">
                  <!-- DEFINE HERE YOUR TEMPLATE -->
                  <span>
                    <!-- YOU MAY ACTUALLY DISPLAY WHATEVER YOU WANT IF YOU PASS AN OBJECT AS ITEM -->
                    <!-- ex. item.myDisplayValue -->

                    {{ item.name }}({{ item.price }}€)
                  </span>
                  <delete-icon
                    (click)="input.removeItem(item, index)"
                  ></delete-icon>
                </ng-template>
              </tag-input>
            </div>
            <div class="mt-4">
              <button (click)="edit()" class="btn btn-info">
                Edit profile
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4 order-xl-2 container">
      <div class="order-xl-3 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Available terms for reservations</h3>
              </div>
              <div class="col-2 text-right">
                <button class="btn btn-info">
                  Add available term
                </button>
              </div>
            </div>
          </div>
          <div class="table-responsive" style="overflow: visible">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let dataSpan of cottage.availableReservationDateSpan"
                >
                  <td>
                    {{ dataSpan.startDate | date: "dd/MM/yyyy" }}
                  </td>
                  <td>
                    {{ dataSpan.endDate | date: "dd/MM/yyyy" }}
                  </td>
                  <td class="text-right">
                    <delete-icon></delete-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="order-xl-2 mt-3">
        <h6 class="heading-small text-muted mb-4">Upload a cottage picture</h6>
        <div
          fxFill
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="gappx"
        >
          <ngp-image-picker
            [_config]="imagePickerConf"
            ($imageChanged)="onImageChange($event)"
            [_imageSrc]="initialImage"
          ></ngp-image-picker>
          <div>
            <button
              style="margin-top: 15px"
              (click)="addCottageImage()"
              class="btn btn-info"
            >
              Add image
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TABELA -->
  <div class="row" style="margin-top: 20px; overflow: visible">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Available reservations</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-info" (click)="openQuickReservationForm()">
                Add quick reservation
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="overflow: visible">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Guest Capacity</th>
                <th scope="col">Price(in €)</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let quickReservation of cottage.cottageQuickReservation"
              >
                <td>
                  {{ quickReservation.dateSpan.startDate | date: "dd/MM/yyyy" }}
                </td>
                <td>
                  {{ quickReservation.dateSpan.endDate | date: "dd/MM/yyyy" }}
                </td>
                <td>
                  {{ quickReservation.guestCapacity }}
                </td>
                <td>
                  {{ quickReservation.price }}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a
                      class="btn btn-sm btn-icon-only text-light"
                      ngbDropdownToggle
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div
                      ngbDropdownMenu
                      class="dropdown-menu-right dropdown-menu-arrow"
                    >
                      <a class="dropdown-item" (click)="deleteQuickReservation(quickReservation.id)"
                        >Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div
#quickReservationInput
 *ngIf="addReservationFormOpened"
  class="container mt-5 pb-4"
>
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Quick reservation</h3>
        </div>
      </div>
    </div>
    <div class="card-body" 
    >
      <form>
        <!-- Ovde -->
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-date"
                  >Start date and time</label
                >
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="pickerStart"
                      [min]="minDate"
                      (dateInput)="addEvent('inputStart', $event)"
                      (dateChange)="addEvent('changeStart', $event)"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerStart"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                  </mat-form-field>
                </div>

                <mat-label>Select ending date</mat-label>
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="pickerEnd"
                      [min]="minDate"
                      (dateInput)="addEvent('inputEnd', $event)"
                      (dateChange)="addEvent('changeEnd', $event)"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerEnd"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-people"
                  >Maximum number of people</label
                >
                <input
                  [(ngModel)]="cottageQuickReservation.guestCapacity"
                  name="capacity"
                  type="text"
                  id="input-people"
                  class="form-control form-control-alternative"
                  min="1"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-price"
                  >Price(in €)</label
                >
                <input
                  [(ngModel)]="cottageQuickReservation.price"
                  name="price"
                  type="number"
                  id="input-price"
                  class="form-control form-control-alternative"
                  min="1"
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <button (click)="addQuickReservation()" class="btn btn-info">
            Add a reservation
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
