<div class="container-fluid">
  <div class="firstSection"></div>
  <div class="secondSection">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Cottages">
        <div class="container">
          <form class="example-form">
            <div class="row">
              <div class="mb-3">
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Search cottage by name</mat-label>
                    <textarea
                      matInput
                      [(ngModel)]="searchCottageName"
                      name="searchCottageName"
                      placeholder="Ex. It makes me feel..."
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search cottage by number of beds</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="searchCottageBeds"
                  name="searchCottageBeds"
                  placeholder="Ex. It makes me feel..."
                ></textarea>
              </mat-form-field>
            </div>
          </form>

          <div class="container mt-3">
            <div class="row d-flex p-2 bg-secondary text-white">
              <div class="col-4 p-2" *ngFor="let cottage of cottages">
                <app-base-cottage
                  name="{{ cottage.name }}"
                  id="{{ cottage.id }}"
                >
                </app-base-cottage>
              </div>
              <div class="col-4 p-2">
                <app-base-cottage> </app-base-cottage>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Boats">
        <form class="example-form">
          <div class="row">
            <div class="mb-3">
              <div class="col-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Search cottage by name</mat-label>
                  <textarea
                    matInput
                    [(ngModel)]="searchCottageName"
                    name="searchCottageName"
                    placeholder="Ex. It makes me feel..."
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Search cottage by number of beds</mat-label>
              <textarea
                matInput
                [(ngModel)]="searchCottageBeds"
                name="searchCottageBeds"
                placeholder="Ex. It makes me feel..."
              ></textarea>
            </mat-form-field>
          </div>
        </form>
        <div class="container py-5">
          <div class="d-flex bd-highlight mb-3">
            <app-base-cottage> </app-base-cottage>
            <app-base-cottage> </app-base-cottage>
            <app-base-cottage> </app-base-cottage>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Adventures">
        <form class="example-form">
          <div class="row">
            <div class="mb-3">
              <div class="col-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Search cottage by name</mat-label>
                  <textarea
                    matInput
                    [(ngModel)]="searchCottageName"
                    name="searchCottageName"
                    placeholder="Ex. It makes me feel..."
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Search cottage by number of beds</mat-label>
              <textarea
                matInput
                [(ngModel)]="searchCottageBeds"
                name="searchCottageBeds"
                placeholder="Ex. It makes me feel..."
              ></textarea>
            </mat-form-field>
          </div>
        </form>
        <div class="container py-5">
          <div class="d-flex bd-highlight mb-3">
            <app-base-cottage> </app-base-cottage>
            <app-base-cottage> </app-base-cottage>
            <app-base-cottage> </app-base-cottage>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
