<div class="container-fluid">
  <div class="row top">
    <div class="col-12 firstSection">
      <div class="col-7 offset-5 pt-9">
        <div class="s1">
          TRAVELLING AROUND <br />
          <div class="s1 pt-4">THE WORLD</div>
        </div>
        <div class="s2 pt-4">An awesome journey</div>
      </div>
    </div>
  </div>
  <div class="row linija bottom"></div>

  <div class="row bottom">
    <div class="col-2 grad"></div>
    <div class="col-8 secondSection pt-6">
      <!-- Cottages tab -->
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Cottages">
          <div class="container">
            <form class="example-form">
              <div class="row pt-4 ml-5">
                <div class="col-3 input3">
                  <label for="date1">Start of reservation</label>
                  <input
                    id="date1"
                    matInput
                    class="p-3"
                    type="datetime-local"
                    placeholder="Start date"
                    [(ngModel)]="startCottageDate"
                    [min]="startDateCottageString"
                    (change)="activateCottageEnd()"
                    id="session-date"
                    name="date1"
                  />
                  <div class="enddate">
                    <label for="party" *ngIf="this.endDateCottageString !== ''"
                      >End of reservation</label
                    >
                    <input
                      matInput
                      class="p-3"
                      *ngIf="this.endDateCottageString !== ''"
                      type="datetime-local"
                      placeholder="End date"
                      [min]="endDateCottageString"
                      [(ngModel)]="endCottageDate"
                      name="date2"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <div class="col-4 boxc">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Name</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="searchCottageName"
                        name="searchCottageName"
                        placeholder="Enter cottage name"
                      ></textarea>
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Grade</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="cottageGrade"
                        name="cottageGrade"
                        placeholder="Enter cottage grade"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="col-4 boxc">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Bed</mat-label>
                      <mat-select
                        name="cottageBedCount"
                        [(ngModel)]="cottageBedCount"
                      >
                        <mat-option *ngFor="let bed of beds" [value]="bed">
                          {{ bed }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Sort by</mat-label>
                      <mat-select name="sortBy" [(ngModel)]="cottageSortBy">
                        <mat-option
                          *ngFor="let sort of sortListCottage"
                          [value]="sort"
                        >
                          {{ sort.text }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-7 offset-1 chips">
                  <mat-chip-list [(ngModel)]="chips" selectable multiple>
                    <mat-chip
                      #c="matChip"
                      *ngFor="let option of optionsCottages"
                      [value]="option"
                      (click)="toggleSelectionCottage(c, option)"
                    >
                      <mat-icon *ngIf="c.selected">check</mat-icon>
                      {{ option }}
                    </mat-chip>
                  </mat-chip-list>
                </div>

                <div class="col-4">
                  <button class="btn btn-success" (click)="searchCottage()">
                    Search
                  </button>
                </div>
              </div>
            </form>

            <div class="container mt-3 itemss">
              <div class="row d-flex p-2 text-white">
                <div class="col-4 p-2" *ngFor="let cottage of cottages">
                  <app-base-cottage
                    name="{{ cottage.name }}"
                    id="{{ cottage.id }}"
                    [address]="cottage.address"
                    promoDesc="{{ cottage.promoDescription }}"
                    [grade]="cottage.averageGrade"
                    price="{{ cottage.pricePerHour }}"
                    openForReservation="{{ openCottages }}"
                    [startDate]="startCottageDate"
                    [endDate]="endCottageDate"
                  >
                  </app-base-cottage>
                </div>
              </div>
              <div class="row d-flex text-success bg-dark rounded">
                <div class="col-6">
                  <mat-paginator
                    (page)="onChangeCottagePage($event)"
                    class="bg-dark text-white"
                    [length]="cottageTotalElements"
                    [pageIndex]="cottagePage"
                    [pageSize]="6"
                    aria-label="<class ='btn-success'>Select page"
                  >
                  </mat-paginator>
                </div>
                <div class="col-3 text-right pt-2">
                  <h2 class="text-white">Sort by :</h2>
                </div>
                <div class="col-3 pt-2 sortbtn">
                  <mat-chip-list [(ngModel)]="sortChips" selectable multiple>
                    <mat-chip
                      *ngIf="openCottages === 'no'"
                      value="Price Ascending"
                      #c33="matChip"
                      (click)="
                        toggleSelectionCottageSort(c33, priceSortCottageType)
                      "
                    >
                      Price
                    </mat-chip>
                    <mat-chip
                      value="Grade Ascending"
                      #c2="matChip"
                      (click)="
                        toggleSelectionCottageSort(c2, gradeSortCottageType)
                      "
                    >
                      Grade
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- Boats tab -->
        <mat-tab label="Boats">
          <div class="container">
            <form class="example-form">
              <div class="row pt-4 ml-5">
                <div class="col-3 input3">
                  <label for="date1">Start of reservation</label>
                  <input
                    id="date1"
                    matInput
                    class="p-3"
                    type="datetime-local"
                    placeholder="Start date"
                    [(ngModel)]="startBoatDate"
                    [min]="startDateBoatString"
                    (change)="activateBoatEnd()"
                    id="session-date"
                    name="date1"
                  />
                  <div class="enddate">
                    <label for="party" *ngIf="this.endDateBoatString !== ''"
                      >End of reservation</label
                    >
                    <input
                      matInput
                      class="p-3"
                      *ngIf="this.endDateBoatString !== ''"
                      type="datetime-local"
                      placeholder="End date"
                      [min]="endDateBoatString"
                      [(ngModel)]="endBoatDate"
                      name="date2"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <div class="col-4 boxc">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Name</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="searchBoatName"
                        name="searchBoatName"
                        placeholder="Enter boat name"
                      ></textarea>
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Grade</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="boatGrade"
                        name="boatGrade"
                        placeholder="Enter boat grade"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="col-4 boxc">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Capacity</mat-label>
                      <mat-select
                        name="boatBedCount"
                        [(ngModel)]="boatBedCount"
                      >
                        <mat-option *ngFor="let bed of beds" [value]="bed">
                          {{ bed }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Sort by</mat-label>
                      <mat-select name="sortBy" [(ngModel)]="boatSortBy">
                        <mat-option
                          *ngFor="let sort of sortListBoat"
                          [value]="sort"
                        >
                          {{ sort.text }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-7 offset-1 chips">
                  <mat-chip-list [(ngModel)]="bchips" selectable multiple>
                    <mat-chip
                      #c9="matChip"
                      *ngFor="let option of optionsBoats"
                      [value]="option"
                      (click)="toggleSelectionBoat(c9, option)"
                    >
                      <mat-icon *ngIf="c9.selected">check</mat-icon>
                      {{ option }}
                    </mat-chip>
                  </mat-chip-list>
                </div>

                <div class="col-4">
                  <button class="btn btn-success" (click)="searchBoat()">
                    Search
                  </button>
                </div>
              </div>
            </form>

            <div class="container mt-3 itemss">
              <div class="row d-flex p-2 text-white">
                <div class="col-4 p-2" *ngFor="let boat of boats">
                  <app-base-cottage
                    [type]="2"
                    name="{{ boat.name }}"
                    id="{{ boat.id }}"
                    [address]="boat.address"
                    promoDesc="{{ boat.description }}"
                    [grade]="boat.grade"
                    price="{{ boat.pricePerHour }}"
                    openForReservation="{{ openBoats }}"
                    [startDate]="startBoatDate"
                    [endDate]="endBoatDate"
                  >
                  </app-base-cottage>
                </div>
              </div>
              <div class="row d-flex text-success bg-dark rounded">
                <div class="col-6">
                  <mat-paginator
                    (page)="onChangeBoatPage($event)"
                    class="bg-dark text-white"
                    [length]="boatTotalElements"
                    [pageIndex]="boatPage"
                    [pageSize]="6"
                    aria-label="<class ='btn-success'>Select page"
                  >
                  </mat-paginator>
                </div>
                <div class="col-3 text-right pt-2">
                  <h2 class="text-white">Sort by :</h2>
                </div>
                <div class="col-3 pt-2 sortbtn">
                  <mat-chip-list [(ngModel)]="bsortChips" selectable multiple>
                    <mat-chip
                      *ngIf="openBoats === 'no'"
                      value="Price Ascending"
                      #c998="matChip"
                      (click)="toggleSelectionBoatSort(c998, priceSortBoatType)"
                    >
                      Price
                    </mat-chip>
                    <mat-chip
                      value="Grade Ascending"
                      #c999="matChip"
                      (click)="toggleSelectionBoatSort(c999, gradeSortBoatType)"
                    >
                      Grade
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!--Adventures fishing course tab -->
        <mat-tab label="Adventures">
          <div class="container">
            <form class="example-form">
              <div class="row pt-4 ml-5">
                <div class="col-3 input3">
                  <label for="date1">Start of reservation</label>
                  <input
                    id="date1"
                    matInput
                    class="p-3"
                    type="datetime-local"
                    placeholder="Start date"
                    [(ngModel)]="startFishingCourseDate"
                    [min]="startDateFishingCourseString"
                    (change)="activateFishingCourseEnd()"
                    id="session-date"
                    name="date1"
                  />
                  <div class="enddate">
                    <label
                      for="party"
                      *ngIf="this.endDateFishingCourseString !== ''"
                      >End of reservation</label
                    >
                    <input
                      matInput
                      class="p-3"
                      *ngIf="this.endDateFishingCourseString !== ''"
                      type="datetime-local"
                      placeholder="End date"
                      [min]="endDateFishingCourseString"
                      [(ngModel)]="endFishingCourseDate"
                      name="date2"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <div class="col-4 boxc">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Name</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="searchFishingCourseName"
                        name="searchFishingCourseName"
                        placeholder="Enter fishing course name"
                      ></textarea>
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Grade</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="fishingCourseGrade"
                        name="fishingCourseGrade"
                        placeholder="Enter fishing course grade"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="col-4 boxc">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Capacity</mat-label>
                      <mat-select
                        name="fishingCourseBedCount"
                        [(ngModel)]="fishingCourseBedCount"
                      >
                        <mat-option *ngFor="let bed of beds" [value]="bed">
                          {{ bed }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Sort by</mat-label>
                      <mat-select
                        name="sortBy"
                        [(ngModel)]="fishingCourseSortBy"
                      >
                        <mat-option
                          *ngFor="let sort of sortListFishingCourse"
                          [value]="sort"
                        >
                          {{ sort.text }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Fishing Trainer</mat-label>
                      <mat-select
                        name="fishingTrainerCount"
                        [(ngModel)]="fishingTrainerId"
                      >
                        <mat-option
                          *ngFor="let trainer of fishingTrainers"
                          [value]="trainer.id"
                        >
                          {{ trainer.firstName }},{{ trainer.lastName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-7 offset-1 chips">
                  <mat-chip-list [(ngModel)]="fchips" selectable multiple>
                    <mat-chip
                      #cf="matChip"
                      *ngFor="let option of optionsFishingCourses"
                      [value]="option"
                      (click)="toggleSelectionFishingCourse(cf, option)"
                    >
                      <mat-icon *ngIf="cf.selected">check</mat-icon>
                      {{ option }}
                    </mat-chip>
                  </mat-chip-list>
                </div>

                <div class="col-4">
                  <button
                    class="btn btn-success"
                    (click)="searchFishingCourse()"
                  >
                    Search
                  </button>
                </div>
              </div>
            </form>

            <div class="container mt-3 itemss">
              <div class="row d-flex p-2 text-white">
                <div
                  class="col-4 p-2"
                  *ngFor="let fishingCourse of fishingCourses"
                >
                  <app-base-cottage
                    [type]="3"
                    name="{{ fishingCourse.name }}"
                    id="{{ fishingCourse.id }}"
                    [address]="fishingCourse.address"
                    promoDesc="{{ fishingCourse.promoDescription }}"
                    [grade]="fishingCourse.averageGrade"
                    price="{{ fishingCourse.price }}"
                    openForReservation="{{ openFishingCourses }}"
                    [startDate]="startFishingCourseDate"
                    [endDate]="endFishingCourseDate"
                  >
                  </app-base-cottage>
                </div>
              </div>
              <div class="row d-flex text-success bg-dark rounded">
                <div class="col-6">
                  <mat-paginator
                    (page)="onChangeFishingCoursePage($event)"
                    class="bg-dark text-white"
                    [length]="fishingCourseTotalElements"
                    [pageIndex]="fishingCoursePage"
                    [pageSize]="6"
                    aria-label="<class ='btn-success'>Select page"
                  >
                  </mat-paginator>
                </div>
                <div class="col-3 text-right pt-2">
                  <h2 class="text-white">Sort by :</h2>
                </div>
                <div class="col-3 pt-2 sortbtn">
                  <mat-chip-list [(ngModel)]="bsortChips" selectable multiple>
                    <mat-chip
                      *ngIf="openFishingCourses === 'no'"
                      value="Price Ascending"
                      #cf9="matChip"
                      (click)="
                        toggleSelectionFishingCourseSort(
                          cf9,
                          priceSortFishingCourseType
                        )
                      "
                    >
                      Price
                    </mat-chip>
                    <mat-chip
                      value="Grade Ascending"
                      #cf92="matChip"
                      (click)="
                        toggleSelectionFishingCourseSort(
                          cf92,
                          gradeSortFishingCourseType
                        )
                      "
                    >
                      Grade
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
          <!--Fishing trainer tab start-->
        </mat-tab>
        <mat-tab label="Fishing Trainers">
          <div class="container">
            <form class="example-form">
              <div class="row pt-4 ml-5">
                <div class="col-3 input3">
                  <label for="date1">Start of reservation</label>
                  <input
                    id="date1"
                    matInput
                    class="p-3"
                    type="datetime-local"
                    placeholder="Start date"
                    [(ngModel)]="startFishingTrainerDate"
                    [min]="minDateString"
                    (change)="activateFishingTrainerEnd()"
                    id="session-date"
                    name="date1"
                  />
                  <div class="enddate">
                    <label
                      for="party"
                      *ngIf="this.endDateFishingTrainerString !== ''"
                      >End of reservation</label
                    >
                    <input
                      matInput
                      class="p-3"
                      *ngIf="this.endDateFishingTrainerString !== ''"
                      type="datetime-local"
                      placeholder="End date"
                      [min]="endDateFishingTrainerString"
                      [(ngModel)]="endFishingTrainerDate"
                      name="date2"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col-4 boxc">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Name</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="searchFishingTrainerName"
                        name="searchFishingCourseName"
                        placeholder="Enter fishing course name"
                      ></textarea>
                    </mat-form-field>

                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Grade</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="fishingTrainerGrade"
                        name="fishingCourseGrade"
                        placeholder="Enter fishing course grade"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-7 offset-1 chips">
                  <mat-chip-list [(ngModel)]="fchips" selectable multiple>
                    <mat-chip
                      #cft="matChip"
                      *ngFor="let option of optionsFishingCourses"
                      [value]="option"
                      (click)="toggleSelectionFishingCourse(cft, option)"
                    >
                      <mat-icon *ngIf="cft.selected">check</mat-icon>
                      {{ option }}
                    </mat-chip>
                  </mat-chip-list>
                </div>

                <div class="col-4">
                  <button
                    class="btn btn-success"
                    (click)="searchFishingTrainer()"
                  >
                    Search
                  </button>
                </div>
              </div>
            </form>

            <div class="container mt-3 itemss">
              <div class="row d-flex p-2 text-white">
                <div
                  class="col-4 p-2"
                  *ngFor="let fishingTrainer of fishingTrainers"
                >
                  <app-base-cottage
                    [type]="4"
                    name="{{ fishingTrainer.firstName }}, {{
                      fishingTrainer.lastName
                    }}"
                    [promoDesc]="fishingTrainer.biography"
                    id="{{ fishingTrainer.id }}"
                    [address]="fishingTrainer.address"
                    [grade]="fishingTrainer.grade"
                    openForReservation="{{ openFishingTrainers }}"
                    [startDate]="startFishingCourseDate"
                    [endDate]="endFishingCourseDate"
                  >
                  </app-base-cottage>
                </div>
              </div>
              <div class="row d-flex text-success bg-dark rounded">
                <div class="col-6">
                  <mat-paginator
                    (page)="onChangeFishingCoursePage($event)"
                    class="bg-dark text-white"
                    [length]="fishingCourseTotalElements"
                    [pageIndex]="fishingCoursePage"
                    [pageSize]="6"
                    aria-label="<class ='btn-success'>Select page"
                  >
                  </mat-paginator>
                </div>
                <div class="col-3 text-right pt-2">
                  <h2 class="text-white">Sort by :</h2>
                </div>
                <div class="col-3 pt-2 sortbtn">
                  <mat-chip-list [(ngModel)]="bsortChips" selectable multiple>
                    <mat-chip
                      *ngIf="openFishingCourses === 'no'"
                      value="Price Ascending"
                      #cft91="matChip"
                      (click)="
                        toggleSelectionFishingCourseSort(
                          cft91,
                          priceSortFishingCourseType
                        )
                      "
                    >
                      Price
                    </mat-chip>
                    <mat-chip
                      value="Grade Ascending"
                      #cft92="matChip"
                      (click)="
                        toggleSelectionFishingCourseSort(
                          cft92,
                          gradeSortFishingCourseType
                        )
                      "
                    >
                      Grade
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!--Fishing trainer tab end-->
      </mat-tab-group>
    </div>
    <div class="col-2 grad2"></div>
  </div>
</div>
