<div class="container">
    <div class="page-header">
        <h1 class="text-center">Registration Option</h1>
    </div>
    <div class="text-center">
        <p class="selection-p">Please choose your account type:</p>
        <div class="selection-container">
            <a class="type-link" href="registration">
                <div class="left-side">
                    <img src="../../../../assets/img/icons/icon_register_user.svg" class="img" alt="">
                    <h2>General Users</h2>
                    <p>This account will enable General Users to make a reservation in addition to search and reviewing all services.
                        You can also edit the profile and enjoy loyalty services.</p>
                </div>
            </a>
            <a class="type-link" href="businessOwnerRegistration">
                <div class="right-side">
                    <img src="../../../../assets/img/icons/icon_register_business.svg" class="img" alt="">
                    <h2>Business Users</h2>
                    <p>This order is for business owners who want to provide services to customers. 
                        You will have full access and insight into your business</p>
                </div>
            </a>
        </div>
    </div>
</div>