<div class="container">
    <div class="page-header">
        <h1 class="text-center">Registration Option</h1>
    </div>
    <div class="text-center">
        <p class="selection-p">Please choose your account type:</p>
        <div class="selection-container">
            <a class="type-link" href="registration">
                <div class="left-side">
                    <img src="https://palmoillink.com/images/icon_register_user.svg" class="img" alt="">
                    <h2>General Users</h2>
                    <p>This account will enable General Users to search and view the full directory. You may also chat
                        with businesses and other users within this site.</p>
                </div>
            </a>
            <a class="type-link" href="businessOwnerRegistration">
                <div class="right-side">
                    <img src="https://palmoillink.com/images/icon_register_business.svg" class="img" alt="">
                    <h2>Business Users</h2>
                    <p>This account is restricted to Malaysian Companies with MPOB License only. Your company will have
                        its own full access to the site features.</p>
                </div>
            </a>
        </div>
    </div>
</div>