<div class="left-side">
  <div class="profile-side">
    <p class="user-mail"><i class="fa fa-envelope"></i> {{ user.email }}</p>
    <div class="user-bio">
      <h3>Bio</h3>
      <p class="bio">
        Lorem ipsum dolor sit amet, hello how consectetur adipisicing elit. Sint
        consectetur provident magni yohoho consequuntur, voluptatibus ghdfff
        exercitationem at quis similique. Optio, amet!
      </p>
    </div>
    <div class="text-right">
      <app-grade-star [grade]="fishingTrainer.averageGrade"></app-grade-star>
    </div>
    <div class="user-rating">
      <h3 class="rating">Gold</h3>
      <div class="rate">
        <span class="no-of-user-rate">&nbsp;&nbsp;member</span>
      </div>
    </div>
    <div class="profile-btn">
      <button
        class="createbtn"
        id="Create-post"
        (click)="openDialog()"
      >
        <i class="fas fa-user-times"></i> Delete Account
      </button>
    </div>
  </div>
</div>
