<div class="left-side">
  <div class="profile-side">
    <p class="user-mail"><i class="fa fa-envelope"></i> {{ user.email }}</p>
    <div class="user-bio">
      <h3>Bio</h3>
      <p class="bio">
        {{ fishingTrainer.biography }}
      </p>
    </div>
    <div class="text-right">
      <app-grade-star [grade]="fishingTrainer.averageGrade"></app-grade-star>
    </div>
    <app-loyalty-program [loyaltyProgram]="fishingTrainer.loyaltyProgram" [userType]="'owner'"></app-loyalty-program>
    <div class="profile-btn">
      <button
        class="createbtn"
        id="Create-post"
        (click)="openDialog()"
      >
        <i class="fas fa-user-times"></i> Delete Account
      </button>
    </div>
  </div>
</div>
