<div class="container" *appHasRole="roles">
  <div *ngIf="customer !== undefined">
    <div class="profile-header">
      <div class="profile-img">
        <img src="./bg.jpg" width="200" alt="Profile Image" />
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name">{{ customer.username }}</h3>
        <div class="address">
          <p id="state" class="state">New York,</p>
          <span id="country" class="country">USA.</span>
        </div>
      </div>
    </div>

    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <p class="user-mail">
            <i class="fa fa-envelope"></i> {{ customer.email }}
          </p>
          <div class="user-bio">
            <h3>Bio</h3>
            <p class="bio">
              Lorem ipsum dolor sit amet, hello how consectetur adipisicing
              elit. Sint consectetur provident magni yohoho consequuntur,
              voluptatibus ghdfff exercitationem at quis similique. Optio, amet!
            </p>
          </div>
          <div class="profile-btn">
            <button class="chatbtn" id="chatBtn">
              <i class="fa fa-comment"></i> Chat
            </button>
            <button class="createbtn" id="Create-post">
              <i class="fa fa-plus"></i> Create
            </button>
          </div>
          <div class="user-rating">
            <h3 class="rating">4.5</h3>
            <div class="rate">
              <div class="star-outer">
                <div class="star-inner">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <span class="no-of-user-rate"
                ><span>123</span>&nbsp;&nbsp;reviews</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="profile-body">
          <div class="profile-posts">
            <app-change-customer-info></app-change-customer-info>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
