<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/image233.png);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask"></span>
  <!-- Header container -->
  <div class="container d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{ boat.name }}</h1>
        <p class="text-white mt-0 mb-5">{{ boat.description }}</p>
      </div>
    </div>
    <div class="container">
      <ng-image-slider
        [slideImage]="3"
        [images]="imageObject"
        #nav
      ></ng-image-slider>
    </div>
  </div>
</div>
<div class="container mt--7 pb-4">
  <div class="row">
    <div class="col-xl-8 order-xl-1 mb-4">
      <app-boat-edit
        *ngIf="boat.id!==0"
        [boat]="boat"
      ></app-boat-edit>
    </div>
    <div class="col-xl-4 order-xl-2 container">
      <div class="order-xl-3 mb-5 mb-xl-0">
        <app-boat-available-terms
          [boat]="boat"
          [minDate]="minDateString"
        ></app-boat-available-terms>
      </div>
      <div class="order-xl-3 mb-5 mt-3 mb-xl-0">
        <app-boat-unavailable-terms
          [boat]="boat"
          [minDate]="minDateString"
        ></app-boat-unavailable-terms>
      </div>
      <div class="order-xl-2 mt-3">
        <h6 class="heading-small text-muted mb-4">Upload a boat picture</h6>
        <div
          fxFill
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="gappx"
        >
          <ngp-image-picker
            [_config]="imagePickerConf"
            ($imageChanged)="onImageChange($event)"
            [_imageSrc]="initialImage"
          ></ngp-image-picker>
          <div>
            <button
              style="margin-top: 15px"
              (click)="addBoatImage()"
              class="btn btn-info"
            >
              Add image
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Quick Reservations">
      <!-- TABELA -->
      <app-boat-quick-reservations
        [boat]="boat"
        [imageObject]="imageObject"
      >
      </app-boat-quick-reservations>
      <app-add-boat-quick-reservation
        (submitted)="quickReservationAdded()"
        [boatQuickReservation]="boatQuickReservation"
      >
      </app-add-boat-quick-reservation>
    </mat-tab>
    <mat-tab label="Reservations">
      <!-- TABELA -->
      <app-boat-reservations
        [reservations]="activeReservations"
        [customers]="eligibleCustomers"
        (customerEmit)="
          reservationInput.setCustomer($event); focusReservation()
        "
      ></app-boat-reservations>
      <app-add-boat-reservation
        #reservationInput
        (submitted)="reservationAdded()"
        [minDate]="minDateString"
      ></app-add-boat-reservation>
    </mat-tab>
    <mat-tab label="Reservations history">
      <app-boat-reservations
        [reservations]="passedReservations"
        [customers]="eligibleCustomers"
      ></app-boat-reservations>
    </mat-tab>
    <mat-tab label="Statistics">
      <ng-template matTabContent #boatStatiscics>
        <div class="container">
          <div class="row">
            <div class="col">
              <app-boat-statistics></app-boat-statistics>
            </div>
            <div class="col">
              <app-boat-income></app-boat-income>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
