<div class="container-fluid d-flex justify-content-center regist">
  <div class="row my-5 mx-2 main regist2">
    <div class="col-md-12 col-12 xcol">
      <h2 class="title pt-3 pb-3">Sign up</h2>
      <form class="myform">
        <div class="row rone">
          <div class="col-md-6 fone py-3">
            <ng-template> First name</ng-template>

            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input
                matInput
                [(ngModel)]="user.firstName"
                name="firstName"
                placeholder="First"
                required
              />
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 ftwo py-3">
            <ng-template matStepLabel>Fill out lastname</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Last name</mat-label>
              <input
                matInput
                [(ngModel)]="user.lastName"
                name="lastname"
                placeholder="Last name"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row rtwo">
          <div class="form-group col-md-6 ffour py-3">
            <ng-template>Contact</ng-template>

            <mat-form-field appearance="fill">
              <mat-label>Contact</mat-label>
              <input
                matInput
                [(ngModel)]="user.phoneNumber"
                name="contact"
                placeholder="+381 ..."
                required
              />
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 fsix py-3">
            <ng-template matStepLabel>Street</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Street</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="user.address.street"
                name="street"
                placeholder="Enter your street"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row rthree">
          <div class="form-group col-md-6 ffive py-3">
            <ng-template matStepLabel>Country</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="user.address.country"
                name="country"
                placeholder="Enter your country"
                required
              />
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 fsix py-3">
            <ng-template matStepLabel>City</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="user.address.city"
                name="city"
                placeholder="Enter your city"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row rthree">
          <div class="form-group col-md-6 ffive py-3">
            <ng-template matStepLabel>Fill out password</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                [(ngModel)]="user.password"
                name="password"
                placeholder="Password"
                required
              />
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 fsix py-3">
            <ng-template matStepLabel>Confirm password</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Confirm password</mat-label>
              <input
                type="password"
                matInput
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm password"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div style="height: 500px">
          <app-map></app-map>
        </div>
        <div class="row rfour">
          <div class="form-group col-md-6 fseven py-3">
            <button class="btn btn-success" (click)="update()">
              <span>Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
