<div class="container-fluid d-flex justify-content-center regist">
  <div class="row my-5 mx-2">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h2 class="mb-0">Sing up</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="form-group col-md-6 py-3">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="username" name="username" placeholder="Username" required />
              </mat-form-field>
            </div>
            <div class="form-group col-md-6 py-3">
              <mat-form-field appearance="fill">
                <mat-label>Business option</mat-label>
                <mat-select [(ngModel)]="selectedBusiness" name="selectedBusiness" required>
                  <mat-option></mat-option>
                  <mat-option *ngFor="let typeKey of businessTypeKeys" [value]="typeKey">
                    {{ businessTypes[typeKey] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group col-md-6 fone py-3">
              <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="firstName" name="firstName" placeholder="First" required />
              </mat-form-field>
            </div>
            <div class="form-group col-md-6 py-3">
              <mat-form-field appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput [(ngModel)]="lastname" name="lastname" placeholder="Last name" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 py-3">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" [(ngModel)]="email" name="email" placeholder="@gmail.com" required />
              </mat-form-field>
            </div>
            <div class="form-group col-md-6 py-3">
              <mat-form-field appearance="fill">
                <mat-label>Contact</mat-label>
                <input matInput [(ngModel)]="contact" name="contact" placeholder="+381 ..." required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 py-3">
              <ng-template matStepLabel>Fill out password</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password"
                  required />
              </mat-form-field>
            </div>
            <div class="form-group col-md-6 py-3">
              <ng-template matStepLabel>Confirm password</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input type="password" matInput [(ngModel)]="confirmPassword" name="confirmPassword"
                  placeholder="Confirm password" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 py-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Write explanation of registration</mat-label>
                <textarea type="registrationExplanation" matInput [(ngModel)]="registrationExplanation"
                  name="registrationExplanation" required></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 py-3">
              <button class="btn btn-primary" (click)="register()">
                <span>Create account</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
