<div class="header pb-8 pl-5 pt-5 d-flex justify-content-center">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Boat information</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <!-- Ovde -->
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-username"
                  >Name</label
                >
                <input
                  type="text"
                  id="input-name"
                  name="name"
                  class="form-control form-control-alternative"
                  [(ngModel)]="boat.name"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-type">Type</label>
                <input
                  type="text"
                  id="input-type"
                  name="type"
                  class="form-control form-control-alternative"
                  [(ngModel)]="boat.type"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-description"
                  >Description</label
                >
                <textarea
                  class="form-control form-control-alternative"
                  id="input-description"
                  name="description"
                  >{{ boat.description }}</textarea
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-length"
                  >Length</label
                >
                <input
                  type="number"
                  name="length"
                  id="input-length"
                  class="form-control form-control-alternative"
                  [(ngModel)]="boat.length"
                  min="1"
                />
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-engineNumber"
                  >Engine number</label
                >
                <input
                  type="number"
                  name="engineNumber"
                  id="input-engineNumber"
                  class="form-control form-control-alternative"
                  [(ngModel)]="boat.engineNumber"
                  min="1"
                />
              </div>
            </div>
  
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-topSpeed"
                  >Top speed</label
                >
                <input
                  type="number"
                  name="topSpeed"
                  id="input-topSpeed"
                  class="form-control form-control-alternative"
                  min="1"
                  [(ngModel)]="boat.topSpeed"
                />
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-enginePower"
                  >Engine power</label
                >
                <input
                  type="number"
                  name="enginePower"
                  id="input-enginePower"
                  class="form-control form-control-alternative"
                  min="1"
                  [(ngModel)]="boat.enginePower"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-pricePerHour"
                  >Price per hour</label
                >
                <input
                  type="number"
                  name="pricePerHour"
                  id="input-pricePerHour"
                  class="form-control form-control-alternative"
                  min="1"
                  [(ngModel)]="boat.pricePerHour"
                />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-capacity"
                  >Capacity</label
                >
                <input
                  type="number"
                  name="capacity"
                  id="input-capacity"
                  class="form-control form-control-alternative"
                  min="1"
                  [(ngModel)]="boat.capacity"
                />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-cancel"
                  >Cancel condition</label
                >
                <mat-form-field appearance="fill">
                  <mat-label>Choose a Condition</mat-label>
                  <mat-select
                    [(ngModel)]="boat.cancelCondition"
                    id="input-cancel"
                    name="cancel"
                  >
                    <mat-option value="FREE"> Free </mat-option>
                    <mat-option value="WITH_PAYBACK"> With payback </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-rules"
                  >Rules of conduct</label
                >
                <textarea
                  class="form-control form-control-alternative"
                  id="input-rules"
                  name="rules"
                  >{{ boat.boatRules }}</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <!-- Address -->
        <h6 class="heading-small text-muted mb-4">Location</h6>
        <div class="mb-4" style="height: 450px">
          <app-map
            [lat]="boat.address.latitude"
            [long]="boat.address.longitude"
            [edit]="true"
            (addressEvent)="setAddress($event)"
          ></app-map>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address"
                  >Address</label
                >
                <input
                  [(ngModel)]="boat.address.street"
                  name="street"
                  id="input-address"
                  class="form-control form-control-alternative"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-city">City</label>
                <input
                  [(ngModel)]="boat.address.city"
                  name="city"
                  type="text"
                  id="input-city"
                  class="form-control form-control-alternative"
                />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-country"
                  >Country</label
                >
                <input
                  [(ngModel)]="boat.address.country"
                  name="country"
                  type="text"
                  id="input-country"
                  class="form-control form-control-alternative"
                />
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <!-- Address -->
        <h6 class="heading-small text-muted mb-4">Additional services</h6>
        <div class="pl-lg-4">
          <tag-input
            name="tags"
            (onAdd)="onItemAdded($event)"
            [(ngModel)]="additionalServiceTags"
            [modelAsStrings]="true"
            #input
          >
            <ng-template let-item="item" let-index="index">
              <!-- DEFINE HERE YOUR TEMPLATE -->
              <span>
                <!-- YOU MAY ACTUALLY DISPLAY WHATEVER YOU WANT IF YOU PASS AN OBJECT AS ITEM -->
                <!-- ex. item.myDisplayValue -->
  
                {{ item.name }}({{ item.price }}€)
              </span>
              <delete-icon (click)="input.removeItem(item, index)"></delete-icon>
            </ng-template>
          </tag-input>
        </div>
        <div class="mt-4">
          <button (click)="addBoat()" class="btn btn-info">Add boat</button>
        </div>
      </form>
    </div>
  </div>  
</div>