<div class="col-md-12 mb-1 cottageCard">
  <div class="card h-100" *ngIf="cottageReservation.cottage">
    <div class="d-flex justify-content-between position-absolute w-100"></div>
    <div class="img-hover-zoom img-hover-zoom--xyz">
      <img
        src="https://picsum.photos/700/550"
        class="card-img-top"
        alt="Product"
      />
      <div class="cardOverlay" *ngIf="cottageReservation.cottage.name">
        Pogledaj <br />
        {{ cottageReservation.cottage.name }} <br />
        ponudu
      </div>
    </div>
    <div class="card-body px-2 pb-2 pt-1">
      <div class="d-flex justify-content-between">
        <div *ngIf="cottageReservation.cottage.name">
          <p class="h4">{{ cottageReservation.cottage.name }}</p>
        </div>
        <div>
          <a
            href="#"
            class="text-secondary lead"
            data-toggle="tooltip"
            data-placement="left"
            title="Compare"
          >
            <app-grade-star
              *ngIf="cottageReservation.cottage.averageGrade"
              [grade]="cottageReservation.cottage.averageGrade"
            ></app-grade-star>
          </a>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-7 text-dark">
          Grad :<strong *ngIf="cottageReservation.cottage.address">{{
            "   " + cottageReservation.cottage.address.city
          }}</strong>
        </div>
        <div
          *ngIf="openForReservation !== 'yes' && type !== 4"
          class="col-5 text-dark text-left"
        >
          <strong>Price: </strong>{{ "  " + cottageReservation.price + " $" }}
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          Ulica :
          <strong *ngIf="cottageReservation.cottage.address">
            {{ "   " + cottageReservation.cottage.address.street }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          Drzava :<strong *ngIf="cottageReservation.cottage.address">
            {{ "   " + cottageReservation.cottage.address.country }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          <span>Description</span>
          <strong
            class="text-center"
            *ngIf="cottageReservation.cottage.promoDescription"
          >
            {{ ": " + cottageReservation.cottage.promoDescription }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          <span>Start date:</span>
          <strong
            class="text-center"
            *ngIf="cottageReservation.duration.startDate"
          >
            {{ ": " + cottageReservation.duration.startDate }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-7 text-dark">
          <span>End date:</span>
          <strong
            class="text-center"
            *ngIf="cottageReservation.duration.endDate"
          >
            {{ ": " + cottageReservation.duration.endDate }}</strong
          >
        </div>
      </div>
      <div class="row d-flex pt-2">
        <div class="col-12 reserv-btn">
          <button
            *appHasRole="['ROLE_CUSTOMER']"
            class="btn btn-danger reservationbtn"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="reserv-btn" *ngIf="openForReservation === 'yes'"></div>
  </div>
</div>
