<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">KVZR</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/cottageOwnerHome']" routerLinkActive="router-link-active" 
                target="_blank"
                >Cottages</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://codepen.io/lawrencepa1988/full/RjEXzZ/"
                target="_blank"
                >Boats</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://codepen.io/lawrencepa1988/full/RjEXzZ/"
                target="_blank"
                >Fishing Trainers</a
              >
            </li>
          </ul>

          <div class="dropdown ml-2">
            <button
              class="btn btn-success dropdown-toggle"
              type="button"
              id="dropdownForm"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Login
            </button>
            <div class="dropdown-menu">
              <form class="px-4 py-3">
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleDropdownFormEmail1"
                    placeholder="email@example.com"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormPassword1">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleDropdownFormPassword1"
                    placeholder="Password"
                  />
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" />
                    Remember me
                  </label>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">New around here? Sign up</a>
              <a class="dropdown-item" href="#">Forgot password?</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
