<div class="left-side" *ngIf="user && customer">
  <div class="profile-side">
    <p class="user-mail"><i class="fa fa-envelope"></i> {{ user.email }}</p>
    <div class="user-bio">
    </div>
    <app-loyalty-program [loyaltyProgram]="customer.loyaltyProgram" [userType]="'cutomer'"></app-loyalty-program>
    <div class="user-rating">
      <h3 class="rating"></h3>
      <div class="rate">
        <span class="no-of-user-rate">&nbsp;&nbsp;member</span>
      </div>
    </div>
    <div class="profile-btn">
      <button (click)="openDialog()" class="createbtn" id="Create-post">
        <i class="fas fa-user-times"></i> Delete Account
      </button>
    </div>
  </div>
</div>
