<div class="card shadow mt-3">
  <div class="table-responsive" style="overflow: visible">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Status</th>
          <th scope="col">Comment</th>
          <th scope="col">Report status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
          <td>
            {{ request.id }}
          </td>
          <td>
            {{ getStatus(request) }}
          </td>
          <td>
            {{ request.comment }}
          </td>
          <td>
            {{ getReportStatus(request) }}
          </td>
          <td class="text-right">
            <button
              type="button"
              mdbBtn
              data-toggle="modal"
              data-target="#reportModal"
              (click)="answer(request)"
              mdbWavesEffect
              class="btn btn-primary"
              *ngIf="request.userPenalized == null"
            >
              Answer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
