<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  style="overflow-y: auto"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Change password</h4>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label for="defaultForm-password">Password</label>
          <input
            [(ngModel)]="changePassword"
            type="password"
            id="defaultForm-password"
            [formControl]="$any(formModalPassword)"
            class="form-control"
            mdbInput
            mdbValidate
          />
          <mdb-error
            *ngIf="
              formModalPassword!.invalid &&
              (formModalPassword!.dirty || formModalPassword!.touched)
            "
          >
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="
              formModalPassword!.valid &&
              (formModalPassword!.dirty || formModalPassword!.touched)
            "
          >
            Input valid
          </mdb-success>
        </div>
        <div class="md-form mb-5">
          <label for="defaultForm-confirm-password">Confirm password</label>
          <input
            [(ngModel)]="confirmChangePassword"
            type="password"
            id="defaultForm-confirm-password"
            [formControl]="$any(formModalConfirmPassword)"
            class="form-control"
            mdbInput
            mdbValidate
          />
          <mdb-error
            *ngIf="
              formModalConfirmPassword!.invalid &&
              (formModalConfirmPassword!.dirty ||
                formModalConfirmPassword!.touched)
            "
          >
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="
              formModalConfirmPassword!.valid &&
              (formModalConfirmPassword!.dirty ||
                formModalConfirmPassword!.touched)
            "
          >
            Input valid
          </mdb-success>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="submitChangePassword()"
          mdbBtn
          color="default"
          class="waves-light"
          mdbWavesEffect
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
